.home-social-icons {
    color: aliceblue;
}


.home-about-social-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 4%;
    margin-left: 43%;
}


.home-content {
    margin-bottom: 5%;
}

.home-about-description {
    margin-bottom: 10%;
}

.cv {
    background-color: #69a9b9;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    text-align: center;
    padding-top: 10px;
}

@media (width<720px) {
    .cv {
        margin-left: auto;
        margin-right: auto;
    }
    .home-about-social-links{
        margin-left: 25%;
    }
}